/*
    Styles:

    #010326
    #42378C
    #4B2F73
    #8C5679
    #F2C4D0
    #EDECE0
    grey
    lightgrey
*/

* {
    margin: 0;
    padding: 0;
}

.custom-body {
    background-color: #4B2F73;
}

html {
    font-family: Helvetica, Lato;
}

.header {
    width: auto;
    background-color: #4B2F73;
    color: #EDECE0;
    height: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.header-logo {
    margin-left: 30px;
}

.header-logo img {
    width: 70px;
    height: 70px;
}

.header h1 {
    padding-top: 15px;
    padding-left: 50px;
    color: #EDECE0;
}

#custom-nav-text {
    display: inline-block;
    right: 0px;
    top: 20px;
    position: absolute;
    padding-right: 10px;
    visibility: visible;
}

#custom-nav-text button {
    border: none;
    background: none;
    width: 150px;
    height: 35px;
    margin-right: 5px;
    font-size: 20px;
    color: #2f4550;
}

#custom-nav-text button a {
    color: #EDECE0;
    text-decoration: none;
}

#custom-nav-text button a:hover {
    color: #F2C4D0;
}

#custom-nav-text button a:active {
    color: #4B2F73;
}

.custom-dropdown {
    visibility: hidden;
}

button {
    width: 200px;
    height: 50px;
    background: #EDECE0;
    border: none;
    border-radius: 10px;
    color: #42378C;
    margin-bottom: 10px;
    font-family: comic sans ms;
}

button:hover {
    background: lightgrey;
}

button:active {
    background: #8C5679;
}

@media only screen and (min-width: 850px) {

    /*All pages resize styles*/
    #custom-dropdown-content a {
        visibility: hidden;
    }

    .content-text-mobile {
        display: none;
    }

    /*About Me page resize styles*/

    #aboutme-logo-explaination {
        margin-top: 150px;
        font-size: 20px;
    }

    .model-viewer-model model-viewer {
        height: 600px;
        width: 600px;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .keyboard-explaination-pic img {
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
        width: 740px;
        height: 300px;
    }

    .keyboard-pic img {
        width: 470px;
        height: 200px;
        border-radius: 10px;
    }

    .keyboard-pic img:hover {
        width: 480px;
        height: 205px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    }

    .keyboard-info-container {
        width: 700px;
        height: 500px;
        background-color: #8C5679;
        z-index: 10;
        position: absolute;
        margin-left: 200px;
        visibility: hidden;
    }

    .keyboard-pic.key-front{
        background-color: #EDECE0;
        transform: rotateY(0deg);
        color: #010326;
        text-align: center;
        padding: 10px;
    }
    
    .keyboard-pic.key-back{
        transform: rotateY(180deg);
        box-sizing: border-box;
        padding: 10px;
        color: #EDECE0;
        border-radius: 10px;
        background-color: #4B2F73;
        height: auto;
    }

    .keyboard-flip-container{
        width: 480px;
        height: 205px;
        z-index: 1;
        perspective: 1000;
        position: relative;
        margin: 10px auto;
    }

    .keyboard-flip-container-content{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 1.0s linear;
    }

    /*Contact Me page resize styles*/
    .email-form {
        width: 700px;
        height: auto;
        background-color: #EDECE0;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 10px;
        margin-top: 30px;
    }

    /*Portfolio page resize styles*/
    .portfolio_images img {
        width: 470px;
        height: 200px;
        border-radius: 10px;
    }

    .portfolio_images img:hover {
        width: 480px;
        height: 205px;
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
    }

    /* Project page resize styles */

    #web-project-view{
        visibility: visible;
    }

    #mobile-project-view{
        display: none;
    }

}

@media only screen and (max-width: 1395px) {

    /*About Me page resize styles*/
    .keyboard-info-container {
        width: 700px;
        height: 500px;
        background-color: #8C5679;
        z-index: 10;
        position: absolute;
        margin-left: 50px;
        visibility: hidden;
    }
}

@media only screen and (max-width: 850px) {
    #custom-nav-text {
        display: none;
    }

    .header h1 {
        padding-top: 20px;
        padding-left: 10px;
        color: #EDECE0;
    }

    .custom-dropdown {
        visibility: visible;
    }

    .custom-dropdown-button {
        position: absolute;
        right: 0px;
        top: 20px;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 10px;
        color: #42378C;
        font-size: 20px;
        justify-content: center;
    }

    .custom-dropdown-button:hover {
        background-color: lightgrey;
    }

    #custom-dropdown-content {
        right: 0px;
        visibility: hidden;
        top: 60px;
        margin-right: 10px;
        position: absolute;
        background-color: #EDECE0;
        min-width: 160px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    #custom-dropdown-content a {
        text-decoration: none;
        display: block;
        padding: 12px 16px;
        color: #010326;
        border-top: 1px solid #42378C;
    }

    #custom-dropdown-content a:hover {
        background: lightgrey;
    }

    .home-page-buttons button {
        background-color: #4B2F73;
        color: #EDECE0;
        border-radius: 10px;
        width: 70px;
        margin-bottom: 5%;
    }

    .mobile-image-class {
        background: url(images/meTrans.png), url(images/backgroundart.png);
        background-repeat: no-repeat;
        background-size: 100vw 100%;
        border-radius: 10px;
    }

    .home-image {
        display: none;
    }


    .content-text {
        visibility: hidden;
    }

    .content-text-mobile {
        height: 30vh;
        width: 60vw;
        margin-top: 15px;
    }

    .body-welcome {
        padding-bottom: 10px;
    }

    /*Sandbox/About Me page resize styles*/

    .model-viewer-model model-viewer {
        height: 300px;
        width: 300px;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .model-viewer model-viewer {
        height: 200px;
        width: 200px;
    }

    /*Contact Me page resize styles*/

    .email-form {
        width: auto;
        height: auto;
        background-color: #EDECE0;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 10px;
        margin-top: 30px;
    }



    /*About Me page resize styles*/

    .keyboard-explaination-pic img {
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 310px;
        height: 155px;
    }

    .keyboard-pic img {
        width: 300px;
        height: 150px;
        border-radius: 10px;
    }

    .keyboard-pic img {
        width: 310px;
        height: 155px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    }

    .keyboard-info-container {
        width: 400px;
        height: 800px;
        background-color: #8C5679;
        z-index: 10;
        position: absolute;
        margin-left: 10px;
        visibility: hidden;
    }

    .aboutme-model model-viewer {
        height: 300px;
        width: 400px;
        padding: 1px;
    }

    #aboutme-logo-explaination {
        margin-bottom: -150px;
    }

    .keyboard-pic.key-front{
        background-color: #EDECE0;
        transform: rotateY(0deg);
        color: #010326;
        text-align: center;
        padding: 10px;
        margin-bottom: 30px;
    }
    
    .keyboard-pic.key-back{
        transform: rotateY(180deg);
        box-sizing: border-box;
        padding: 10px;
        color: #EDECE0;
        border-radius: 10px;
        background-color: #4B2F73;
        height: auto;

    }

    .keyboard-flip-container{
        width: 480px;
        height: 205px;
        z-index: 1;
        perspective: 1000;
        position: relative;
        margin: 10px auto;
        margin-bottom: 80px;
    }

    .keyboard-flip-container-content{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 1.0s linear;
        margin-bottom: 50px;
    }


    /*Portfolio page resize styles*/

    .portfolio_images img {
        width: 300px;
        height: 150px;
        border-radius: 10px;
    }

    .portfolio_images img:hover {
        width: 310px;
        height: 155px;
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
    }

        /* Project page resize styles */

        #web-project-view{
            display: none;
        }
    
        #mobile-project-view{
            display: initial;
        }

}

/* All Page Styles */

.custom-page-header h2 {
    text-align: center;
    color: #EDECE0;
    padding-top: 50px;
}

.body-articles {
    margin-top: 5%;
    margin-bottom: 3%;
    height: auto;
    color: #EDECE0;
    font-size: 20px;
}

.custom-footer-class {
    background-color: #4B2F73;
    color: #EDECE0;
    height: auto;
    width: 100%;
    padding-top: 5px;
    padding: 1px;
}

.footer-copyright {
    text-align: center;
    padding: 1px;
}



/* Home/Index Page Styles */

.body-welcome {
    background-image: url("images/theCrossroads.jpg");
    background-repeat: no-repeat;
    background-color: rgba(66, 55, 140, 0.9);
    background-blend-mode: saturation;
    background-size: 100vw 100%;
    height: auto;
    padding: 1px;
    padding-bottom: 290px;
}

.home-page-body {
    height: auto;
    background-color: #EDECE0;
    padding: 1px;
    width: auto;
}

.home-page-content {
    margin-top: 20px;
    padding: 1px;
    height: auto;
    padding-bottom: 40vh;
}

.home-page-text {
    padding: 1px;
    margin-top: 40%;
}

.home-image {
    background-image: url(images/backgroundart.png);
    background-size: 50vw 100%;
    background-repeat: no-repeat;
}

.home-page-buttons button {
    background-color: #4B2F73;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;

}

.home-page-buttons a button {
    text-decoration: none;
    color: #EDECE0;
}

.home-page-buttons button:hover {
    background-color: gray;
}

.home-page-buttons button a:hover {
    color: #42378C;
}


/*About Me Page Styles*/

.body-aboutme {
    background-image: url("images/monkeying_around.JPG");
    background-repeat: no-repeat;
    background-color: rgba(66, 55, 140, 0.9);
    background-blend-mode: saturation;
    background-size: 100vw 100%;
    height: auto;
}

.aboutme-container {
    height: auto;
    background-color: #EDECE0;
    padding: 1px;
}

.aboutme-content h2 {
    text-align: center;
    color: #010326;
    padding-top: 30px;
}

.aboutme-content {
    height: auto;
    padding-bottom: 10vh;
    background-color: #EDECE0;
}

#aboutme-pic {
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.aboutme-model model-viewer {
    height: 600px;
    width: 700px;
    padding: 1px;
}

.keyboards-explaination {
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 20px;
}

.keyboard-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 20px;
}



.keyboard-explaination-pic:active {
    animation: explaination-pic-shake 0.2s;
}

@keyframes explaination-pic-shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }

    /*Animation from https://unused-css.com/blog/css-shake-animation/*/
}

.keyboard-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    margin-top: 30px;
    margin-bottom: 50px;
}



.keyboard-pic.key-back p{
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 13px;
}

.keyboard-pic.key-back a{
    color: #EDECE0;
    text-decoration: none;
}

.keyboard-pic.key-back a:hover{
    color: #c0bfb1;
    text-decoration: underline;
}






/*Contact Me Page Styles*/
.body-contactme {
    background-image: url("images/communication.jpg");
    background-repeat: no-repeat;
    background-color: rgba(66, 55, 140, 0.9);
    background-blend-mode: saturation;
    background-size: 100vw 100%;
    height: auto;
    padding-bottom: 15vh;
}

.contact-header-text {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    color: #EDECE0;
    text-align: center;
}

.input-divide {
    margin-top: 30px;
    margin-bottom: -15px;
}

.custom-form-row {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    text-align: center;
}




/*Portfolio Page Styles*/
.body-portfolio {
    background-image: url("images/inProgress.PNG");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: saturation;
    background-size: 100vw 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 50vh;
}

.portfolio_images {
    padding: 1px;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.portfolio_images:hover h5 {
    font-size: 25px;
    text-decoration: underline;
}



.portfolio_images h5 {
    text-align: center;
    color: #EDECE0;
    font-size: 18px;
    margin-top: 15px;
}



.custom-form-row input {
    text-align: start;
    width: 80%;
}

#message-input {
    padding-bottom: 250px;
}

/*Project page styles */

.projects-body{
    height: auto;
    padding: 1px;
    padding-bottom: 40vh;
    background-color: #EDECE0;
}

.projects-content{
    color: #010326;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 10px;
}

.project-image img{
    width: 1100px;
    height: 900px;
    border-radius: 10px;
}


/*Sandbox styles*/

.sandbox-body-content {
    height: auto;
    padding: 1px;
    padding-bottom: 50px;
    background-color: #EDECE0;
}

.sandbox-body-content h2 {
    color: #010326;
    text-align: center;
    margin-top: 50px;
}

.model-viewer {
    margin-top: 50px;
    width: 700px;
    height: auto;
    background-color: #4B2F73;
    border-radius: 10px;
    padding: 1px;
    color: #EDECE0;
    font-size: 20px;
}

.model-viewer article {
    margin-bottom: 30px;

}

.model-viewer article a {
    color: #EDECE0;

}

.model-viewer article a li {
    list-style-type: circle;
    margin-bottom: 20px;
}


.model-viewer-model {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 1px;
}


#app-border {
    width: 50px;
    height: 50px;
    background-color: #4B2F73;
    border-radius: 10px;
    border: 3px solid #EDECE0;
    margin-right: 40px;
}

#app-border:hover {
    background-color: #0077B5;
    border: 1px solid #0077B5;
    color: #ffffff;
    font-weight: bold;
    font-size: 37px;
}


.socials-buttons {
    display: flex;
    width: 500px;
    height: auto;
    padding: auto;
    margin-top: 20px;
}

.socials-buttons p {
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: #EDECE0;
}

.socials-buttons a {
    text-decoration: none;
}

.github-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #4B2F73;
}

.github-image:hover {
    background-color: #EDECE0;
}


/* Sandbox style rules */
.flip-container {
    position: relative;
    margin: 10px auto;
    width: 700px;
    height: 200px;
    z-index: 1;
    perspective: 1000;
}

.flip-container-content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #8C5679;
}

.face.front {
    background-color: #EDECE0;
    transform: rotateY(0deg);
    color: #010326;
    text-align: center;
    padding: 10px;
}