#landing-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1250px;
    width: auto;
    height: 1920px;
    box-shadow: 0 16px 22px -2px  #01032650;

}

.landing-elements{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 1920px;
}


.landing-text{
    margin-top: 320px;
    display: flexbox;
    width: 700px;
    font-size: 24px;
    margin-left: -100px;
}

.landing-image{
    margin-top: 150px;
    margin-left: 30%;
}

.landing-image img{
    width: 800px;
    height: 800px;
}

.arrow-styles img{
    margin-top: 1110px;
    width: 130px;
    height: 130px;
}

#first-name{
    color: #6900ff;
    font-size: 60px;
    margin-top: -36px;
    margin-bottom: -6px;
}

#port{
    margin-top: 50px;
}


@media screen and (max-width: 1920px) {
    #landing-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 1920px 1060px;
    }

    .landing-elements{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    
    .landing-text{
        margin-top: 300px;
        display: flexbox;
        width: 600px;
        margin-left: -50px;
        margin-right: -100px;
    }

    .landing-image img{
        width: 700px;
        height: 700px;
        margin-left: -60px;
    }

    .arrow-styles img{  
        margin-top: 930px;
        width: 130px;
        height: 130px;
        margin-left: 170px;
    }

}


