#nav-container{
    z-index: 2;
    margin-top: 30px;
    margin-bottom: -150px;
    
}

.nav-bar-style{
    background-color: #f6f6f6;
    box-shadow: 0 6px 12px -2px  #01032650;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px;
    height: 70px;

}

.name-logo-container{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 80px;

}

.name-logo-container h1{
    margin-left: 12px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 12px;
}
.name-logo-container img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.button-container{
    margin-top: 20px;
    display: inline-block;
}

.button-container button{
    margin: 0px 70px 0px 0px;
    background-color: #f6f6f6;
    border: none;
    font-size: 22px;
    font-weight: 550;
}

.display-switch{
    display: flex;
    margin-top: 26px;
}

.display-switch button{
    width: 60px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 0;

}

#switch-icon{

    width: 26px;
    height: 26px;
    border-radius: 50px;
    margin-right: 24px;
    
}