#aboutme-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1360px;
    width: auto;
    z-index: 4;
    box-shadow: 0 16px 2px -2px  #01032650;
    margin-top: 1px;
}

.aboutme-elements-desktop{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 1360px;
}

.aboutme-elements-mobile{
    display: none;
}

.aboutme-text{
    margin-top: 400px;
    width: 700px;
    font-size: 26px;
    margin-right: -400px;
    margin-left: 50px;

}

.aboutme-header{
    margin-top: 200px;
    text-align: center;
    font-size: 55px;
    width: 900px;
    margin-left: -100px;
    display: inline;
}
.colored-emp{
    color:#6900ff;
}

.aboutme-image-carosel{
    margin-top: 300px;
    margin-left: -400px;    

}

.aboutme-image-carosel img{
    width: 600px;
    height: 600px;
}


@media screen and (max-width: 1920px) {

    .aboutme-text{
        margin-top: 400px;
        width: 700px;
        font-size: 26px;
        margin-right: -400px;
        margin-left: 50px;
    
    }
    
    .aboutme-header{
        margin-top: 200px;
        text-align: center;
        font-size: 55px;
        width: 900px;
        
        margin-left: -100px;
        display: inline;
    }
    .colored-emp{
        color:#6900ff;
    }
    
    .aboutme-image-carosel{
        margin-top: 300px;
        margin-left: -400px;    
    
    }
    
    .aboutme-image-carosel img{
        width: 600px;
        height: 600px;
    }

}

@media screen and (max-width: 1000px) {
    #aboutme-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: auto;
        z-index: 4;
        height: auto;
        padding: 30px;
        box-shadow: 0 4px 2px -2px  #01032650;
        margin-top: 1px;
    }
    
    .aboutme-elements-desktop{
        display: none;
    }
    
    .aboutme-elements-mobile{
        display: block;

        height: auto;
    }

    .aboutme-text{
        margin: 10px;
        width: 100%;
        font-size: 22px;
        text-align: center;
        
    }
    
    .aboutme-header{
        text-align: center;
        font-size: 45px;
        margin-top: 200px;
        left: auto;
        right: auto;
    }

    .colored-emp{
        color:#6900ff;
    }
    
    .image-mobile{
        width: auto;
       text-align: center;
      
    }
    
    .image-mobile img{
        width: 340px;
        height: 340px;
        
    }


}