#aboutme-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1320px;
    width: auto;
    z-index: 4;
    box-shadow: 0 16px 2px -2px  #01032650;
    height: 1360px;
    margin-top: 1px;
}

.aboutme-elements{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 1360px;
}

.aboutme-text{
    margin-top: 400px;
    width: 700px;
    font-size: 26px;
    margin-right: -400px;
}

.aboutme-header{
    margin-top: 200px;
    text-align: center;
    font-size: 55px;
    width: 900px;
}
.colored-emp{
    color:#6900ff;
}

.aboutme-image-carosel{
    margin-top: 300px;
    margin-left: -400px;    

}

.aboutme-image-carosel img{
    width: 600px;
    height: 600px;
}


@media screen and (max-width: 1920px) {
    .aboutme-text{
        margin-top: 350px;
        width: 700px;
        font-size: 26px;
        margin-right: -400px;
    }
    
    .aboutme-header{
        margin-top: 200px;
        text-align: center;
        
        font-size: 55px;
    }
    .colored-emp{
        color:#6900ff;
    }
    
    .aboutme-image-carosel{
        margin-top: 250px;
        margin-left: -400px;
    }
    
    .aboutme-image-carosel img{
        width: 600px;
        height: 600px;
    }


}