#likeme-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1320px;
    width: auto;
    z-index: 4;
    box-shadow: 0 16px 2px -2px  #01032650;
    height: 1360px;
    margin-top: 1px;
}

.likeme-elements{
    height: 1320px;
    display: flow-root;
}

.likeme-header{
    margin-top: 200px;
    text-align: center;
    font-size: 55px;
    width: auto;
    height: 100px;
}

.likeme-bio{
    text-align: center;
    width: 1200px;
    font-size: 26px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.likeme-emp{
    color:#6900ff;
}

.likeme-container img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: relative;
    margin-top: 60px;
    display: flex;
}
#me-img{
    left: 30%;
    position: absolute;
}


@media screen and (max-width: 1920px) {


    #likeme-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 1220px;
        width: auto;
        z-index: 2;
        box-shadow: 0 16px 2px -2px  #01032650;
        height: 1220px;
        margin-top: 1px;
    }

    .likeme-elements{
        height: 1220px;
        display: flow-root;
    }

    .likeme-header{
        margin-top: 300px;
        text-align: center;
        font-size: 55px;
        width: auto;
        height: 100px;
    }

}