#tech-stack-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1420px;
    width: auto;
    z-index: 2;
    box-shadow: 0 16px 2px -2px  #01032650;
    height: 1390px;
    margin-top: 1px;
}

.tech-stack-container{
    height: 1390px;
    display: flow-root;
}

.logo-group-one{
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto auto;
}

.logo-group-one img{
    width: 250px;
    height: 250px;
}

.logo-group-two{
    display: grid;
    margin-top: 100px;
    grid-template-columns: auto auto auto;
}

.logo-group-two img{
    width: 250px;
    height: 250px;
    margin-left: 50px;
}

.tech-stack-header{
    text-align: center;
    font-size: 55px;
    width: 900px;
    margin-top: 250px;
    height: auto;
    text-align: center;
}

.tech-stack-bio{
    text-align: center;
    font-size: 26px;
}

@media screen and (max-width: 1920px) {


    #tech-stack-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 1220px;
        width: auto;
        z-index: 2;
        box-shadow: 0 16px 2px -2px  #01032650;
        height: 1220px;
        margin-top: 1px;
    }

    .tech-stack-container{
        height: 1220px;
        display: flow-root;
    }


    .logo-group-one{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    .logo-group-one img{
        width: 250px;
        height: 250px;
        margin-left: 80px;

    }
    
    .logo-group-two{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .logo-group-two img{
        width: 250px;
        height: 250px;
        margin-left: 150px;
    }

}