#penbar-body{
    width:      100%;
    height:     100%; 
    z-index:    1;
    top:        0; 
    left:       0; 
    
    position:   fixed; 
  }

.penbar-buttons{
    display: inline-block;
    margin-top: clamp(500px, 50%, 800px);
    margin-left: clamp(82%, 50%, 95%);
    width: 600px;
}

.flyup-bar-styles{
    width: 70px;
    height: 160px;
    background-color: #b1b1b1;
    margin-bottom: -44px;
    margin-top: -50px;
    border-radius: 10px;
    padding: 1px;
    visibility:hidden;
}

.tools{
    list-style-type: none;  
    margin-left: -28px;
}
.tools:hover{
    cursor:"initial";
}

.tools li:hover{
    cursor: pointer;
}

.tools li{
    height: auto;
    width: 40px;
    background-color: #d6d6d6;
    margin: 10px;
}

.penbar-button{
    width: 80px;
    height: auto;
    border: none;
    background: none;
   
    
}

.penbar-button img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


