#contact-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1320px;
    width: auto;
    z-index: 4;
    box-shadow: 0 16px 2px -2px  #01032650;
    height: 1320px;
    margin-top: 1px;
}

.contact-elements{
    height: 1320px;
    display: flow-root;
}

.contact-header{
    margin-top: 200px;
    text-align: center;
    font-size: 55px;
    width: auto;
    height: 100px;
}

.contact-bio{
    text-align: center;
    width: 1200px;
    font-size: 26px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.contact-emp{
    color:#6900ff;
}

