
#contact-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1320px;
    width: auto;
    z-index: 4;
    box-shadow: 0 16px 2px -2px  #01032650;
    height: 1320px;
    margin-top: 1px;
}

.contact-elements{
    height: 1320px;
    display: flow-root;
}

.contact-header{
    margin-top: 200px;
    text-align: center;
    font-size: 55px;
    width: auto;
    height: 100px;
}

.contact-bio{
    text-align: center;
    width: 1200px;
    font-size: 26px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}
.contact-container{
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
}

.email-box-styles{
    width: 800px;
    height: 40px;   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 2px solid #010326;
    border-radius: 10px;
}

.email-box-styles:focus{
    outline-color: #6900ff;
}

.message-box-styles{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border: 2px solid #010326;
    border-radius: 10px;
}

.message-box-styles:focus{
    outline-color: #6900ff;

}

.send-button-styles{
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    border: 4px solid #6900ff;
    background-color: #f6f6f6;
    color: #6900ff;
    border-radius: 10px;
}

.send-button-styles:hover{
    background-color: #6900ff;
    color: #f6f6f6;
}


#email-label{
    margin-top: 50px;

}
label{
    text-align: center;
}
.label-styles{
    color: #010326;
    font-size: 22px;

}

.send-button-styles:active{
    border: none;
    background-color: #f6f6f6;
    color: #6900ff; 
}

.footer-styles{
    text-align: center; 
    margin-top: 18%;
}

.contact-emp{
    color:#6900ff;
}

