#box-body{
    width: 600px;
    height: 800px;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
    background-image: url("./Assets/projectborder.png");
    background-size: 600px 800px;
    background-repeat: no-repeat;
    z-index: 3;
    position: relative;
    margin: 1px;
    margin: 80px 150px 80px 150px;
}


.project-picture-styles{

    width: 400px;
    height: 250px;
    
}


.title-styles{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.tech-stack-title{
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px
}

.title-github{
    display: flex;
    margin-top: 20px;
}

.githib-styles{
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 2px;
    border: solid 2px #6900ff;
}

.bio-styles{
    text-align: left;
    margin: 10px;
    font-size: 18px;
}

.tech-stack-contianer{
    display: flex;
    text-align: left;
}


.tech-stack-contianer img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 30px;
}