#what-do-body{
    background-image: url("./Assets/BackgroundImage.png");
    background-repeat: no-repeat;
    background-size: 100% 1350px;
    width: auto;
    box-shadow: 0 16px 2px -2px  #01032650;
    z-index: 4;
    margin-top: -35px;
}

.what-do-container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 1360px;

}

.what-do-text{
    margin-top: 400px;
    width: 750px;
    font-size: 26px;
    margin-right: -600px;
    height: 400px;
}

.what-do-header{
    margin-top: 220px;
    text-align: center;
    font-size: 55px;
    width: 900px;
    height: 100px;
    margin-right: -200px;
}

.what-do-pic{
    margin-top: 300px;
    margin-left: -200px;    
    height: 300px;


}

.what-do-pic img{
    width: 400px;
    height: 400px;
}

.colored-emp{
    color:#6900ff;
}


@media screen and (max-width: 1920px) {
    #what-do-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 1920px 1180px;
    }

    .what-do-container{
        display: grid;
        grid-template-columns: auto auto auto;
        height: 1160px;
    
    }

    .what-do-pic{
        margin-top: 400px;
       
    }

}