
    .landing-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 1360px;
        width: auto;
        z-index: 4;
        box-shadow: 0 16px 2px -2px  #01032650;
        margin-top: 1px;
    }
    
    .landing-elements{
        display: grid;
        grid-template-columns: auto auto auto;
        height: auto;
        width: auto;
        height: 1360px;
    }
    
    
    .landing-text-desktop{
        margin-top: 320px;
        display: flexbox;
        width: 700px;
        height: 500px;
        margin-left: -100px;
        font-size: 24px;
    }
    
    .landing-image{
        margin-top: 150px;
        margin-left: 16%;
        height: 800px;
    }
    
    .landing-image img{
        width: 700px;
        height: 700px;
    }
    
    #arrow-styles{
        width: 130px;
        height: 130px;
    }
    
    #arrow-styles img{
        margin-top: 1100px;
        width: 130px;
        height: 130px;

    }

    #first-name{
        color: #6900ff;
        font-size: 60px;
        margin-top: -36px;
        margin-bottom: -6px;
    }
    
    #port{
        margin-top: 50px;
    }

    .landing-text-mobile{
        display: none;
    }

    .port-mobile{
        display: none;
    }


@media screen and (max-width: 1920px) {

    .landing-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 1100px;
        width: auto;
        z-index: 4;
        box-shadow: 0 16px 2px -2px  #01032650;
        margin-top: 1px;
        padding: auto;
    }

    .landing-elements{
        display: grid;
        grid-template-columns: auto auto auto;
        height: auto;
        width: auto;
        height: 1100px;
       
    }
    
    
    .landing-text-desktop{
        margin-top: 300px;
        width: 600px;
        height: 500px;
        margin-left: 10px;
    }

    .landing-image img{
        width: 430px;   
        height: 430px;
        margin-left: -250px;
        margin-top: 60px;
    }
    #arrow-styles{
        width: 130px;
        height: 130px;

    }

    #arrow-styles img{  
        margin-top: 760px;
        width: 120px;
        height: 120px;
        margin-left: -160px;
    }

    .landing-text-mobile{
        display: none;
    }

    .port-mobile{
        display: none;
    }

}


@media screen and (max-width: 1000px){

    .landing-body{
        background-image: url("./Assets/BackgroundImage.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: auto;
        z-index: 4;
        box-shadow: 0 16px 2px -2px  #01032650;
        margin-top: 1px;
    }

    .landing-elements{
        height: auto;
        width: auto;
        
        height: 820px;
    }

    #arrow-styles img{
        width: 70px;
        height: 70px;
        margin: 0;
        text-align: center;
    }
    #arrow-styles{
        width: 100%;
        height: 200px;
        margin-top:720px;
        position: absolute;
        text-align: center;
        
    }

    .landing-text-desktop{
        display: none;
    }

    .landing-text-mobile{
        width: 100%;
        height: 200px;
        margin-top: 130px;
        font-size: 16px;
        display: inline;
        text-align: center;
        padding: auto;
    }

    .port-mobile{
        width: 100%;
        height: 200px;
        display: block;
        font-size: 16px;
        margin-top: 400px;
    }


    .landing-image img{
        width: 370px;   
        height: 370px;
        
    }

    .landing-image{
        margin-top: 220px;
        height: 50px;
        width: 20px;
        position: absolute;
        left: 50%;
        right: 50%;
    }


    .name-mobile{
        color: #6900ff;
        font-size: 50px;
        padding: auto;
        margin-top: -20px;
    }
    
    #port{
        margin-top: 50px;
    }


    
}